.ant-carousel .slick-slide {
  text-align: center;
  height: 350px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.homeBox {
  margin: 10%;
  margin-top: 20px;
  min-height: 87vh;
}

.imgCarousel {
  object-fit: cover;
  width: 100%;
}
.carousel {
  margin-top: 20px;
}
.tutorCard {
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.tutorCarousel {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  border-radius: 5px;
  animation: gradientBG 15s ease infinite;
}

.introBox {
  background: white;
  border-radius: 5px;
  width: 100%;
  align-self: center;
  margin: 0px;
}
